/* DOCTYPE css */

body {
	background-color: #e0e0eb;
	padding: 50px 30px 50px 80px;
}

div {
	max-width: 500px;
	text-indent: 20px;
}

img {
	display: block;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%
}

div.indexlink {
	font-size: 20px;
	text-indent: 0px;
	line-height: 1.8;
}